<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bienvenue Admin</title>

    <!-- Custom fonts for this template-->
    <link src="../../assets/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link src="../../assets/css/sb-admin-2.min.css" rel="stylesheet">
    
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Menu -->
        <div class='dashboard'>
            <div class="dashboard-nav">
               
                <nav class="dashboard-nav-list"><a href="#" class="dashboard-nav-item1">
                    Bienvenue Admin </a>
                    <br>
                    <a
                        href="/admin" class="dashboard-nav-item "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-speedometer2" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
                            <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z"/>
                          </svg> &nbsp;  dashboard
                </a><a
                        href="/admin/formations" class="dashboard-nav-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-heart" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5ZM1 14V4h14v10a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1Zm7-6.507c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                          </svg> &nbsp; Formations </a>
                          <a
                          href="/formateurs" class="dashboard-nav-item active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                            <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                          </svg> &nbsp; Formateurs </a>
                    
                            <a
                            href="/" class="dashboard-nav-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
                                <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                                <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"/>
                              </svg> &nbsp; Apprenants </a>

                    <a
                        href="/reclamAdmin" class="dashboard-nav-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-open" viewBox="0 0 16 16">
                            <path d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.817l5.75 3.45L8 8.917l1.25.75L15 6.217V5.4a1 1 0 0 0-.53-.882l-6-3.2ZM15 7.383l-4.778 2.867L15 13.117V7.383Zm-.035 6.88L8 10.082l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738ZM1 13.116l4.778-2.867L1 7.383v5.734ZM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2Z"/>
                          </svg> &nbsp; Réclamations </a>
                          <a
                          routerLink="/forumAdmin" class="dashboard-nav-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mailbox2" viewBox="0 0 16 16">
                            <path d="M9 8.5h2.793l.853.854A.5.5 0 0 0 13 9.5h1a.5.5 0 0 0 .5-.5V8a.5.5 0 0 0-.5-.5H9v1z"/>
                            <path d="M12 3H4a4 4 0 0 0-4 4v6a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V7a4 4 0 0 0-4-4zM8 7a3.99 3.99 0 0 0-1.354-3H12a3 3 0 0 1 3 3v6H8V7zm-3.415.157C4.42 7.087 4.218 7 4 7c-.218 0-.42.086-.585.157C3.164 7.264 3 7.334 3 7a1 1 0 0 1 2 0c0 .334-.164.264-.415.157z"/>
                          </svg> &nbsp; Forum </a>
                 
                          <a
                          href="/admin/showCategory" class="dashboard-nav-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                          </svg> &nbsp; Catégories </a>
  
                            <a
                        href="#" class="dashboard-nav-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-question" viewBox="0 0 16 16">
                            <path d="M8.05 9.6c.336 0 .504-.24.554-.627.04-.534.198-.815.847-1.26.673-.475 1.049-1.09 1.049-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.71 1.71 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745z"/>
                            <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
                            <path d="M7.001 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0z"/>
                          </svg> &nbsp; Quiz </a>

                </nav>
            </div>
            <div class='dashboard-app'>
                <header class='dashboard-toolbar'>
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h2 mb-0 text-gray-800">Espace Administrateur</h1>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class=pull-right type="button" class="btn btn-danger" (click)="logout()" >Logout</button>   
                    </div>
                </header>
                <div class='dashboard-content'>
                    <div class='container'>
                        <div id="content-wrapper" class="d-flex flex-column">

                            <!-- Main Content -->
                            <div id="content">
                
                                <!-- Topbar -->
                                
                
                                <!-- Begin Page Content -->
                
                                    <!-- Page Heading -->
                                    
                
                                    <!-- Content Row -->
                                    <div class="row">
                
                                        
                                        <div id="content-wrapper" class="d-flex flex-column">
                                            <div class="card shadow mb-4">
                                                <div class="card-header py-3">
                                                    <h6 class="m-0 font-weight-bold text-primary">Les Formateurs </h6>
                                                </div>
                                                <br>
                                                <br>
                                                
                                                <form
                              class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" style="float: right;">
                              <div class="input-group" style="float: right;">
                                  <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                      aria-label="Search" aria-describedby="basic-addon2" style="float: right;">
                                  <div class="input-group-append">
                                      <button class="btn btn-primary" type="button">
                                          <i class="fas fa-search fa-sm"></i>
                                      </button>
                                  </div>
                              </div>
                              </form>
                                                <div class="card-body">
                                                    <div style="overflow-x:auto;">
                                                        <table class="table table-bordered" id="dataTable" width="60%" cellspacing="20">
                                                            <thead>
                                                                <tr>
                                                                    <th >Identifiant</th>
                                                                    <th >Nom et Prenom  </th>
                                                                    <th>Email</th>
                                                                    <th>Tél</th>
                                                                    <th>Spécialité</th>
                                                                    <th >Nombre de formations réaliseés</th>
                                                                </tr>
                                                            </thead>
                                                              <!-- Topbar Search -->
                                                
                              
                                    <tbody>
                                      <tr *ngFor="let user of users | async">
                                        <td>{{user.cinUser}}</td>
                                        <td>{{user.nomUser}}&nbsp;{{user.prenomUser}}</td>
                                        <td>{{user.emailUser}}</td>
                                        <td>{{user.telephoneUser}}</td>
                                       
                                        <td>{{user.specialitFormateur}}</td>
                                        <td></td>
                                        <td></td>
                              
                                        <td>
                                            <button class="btn btn-outline-primary" style="margin-left: 15px" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                              </svg></button>
                                            <button (click)="formateurDetails(user.cinUser)"class="btn btn-outline-success" style="margin-left: 15px"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                              </svg></button>
                                            <button (click)="deleteFormateur(user.cinUser)" class="btn btn-outline-danger"style="margin-left: 15px" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                              </svg></button>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                                </div>
                                </div>
                                </div>
                              
                                        
                                       
                                    </div>
                
                                    <!-- Content Row -->
                
                                   
                                    <!-- Content Row -->
                                    <div class="row">
                
                                        <!-- Content Column -->

              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <div class="col-lg-6 mb-4">
                
                                            <!-- Forum -->
                                            <div class="card shadow mb-4">
                                                <div class="card-header py-3">
                                                    <h6 class="m-0 font-weight-bold text-primary">Ajouter un formateur</h6>
                                                </div>
                                                      
                                                            <form #f="ngForm">
                                                                      <!-- Nested Row within Card Body -->
                                                                              <div class="p-5">
                                                                                  
                                                                                  
                                                                                  <div>
                                                                                    


                                                                                    <form (ngSubmit)="onSubmit()">
                                    
      
                                                                                      <div  class="form-group">
                                                                                        <label >Nom</label>
                                                                                         <input name="nom" placeholder="nom" type="text"
                                                                                          class="form-control" id="nom" required
                                                                                           [(ngModel)]="user.nomUser" #nom="ngModel" required minlength="3">
                                                                                      </div>
                                                                                    
                                                                                      <div class="alert alert-danger" *ngIf="nom.invalid && nom.touched">
                                                                                        <div *ngIf="nom.errors.required">Le nom est obligatoire</div>
                                                                                        <div *ngIf="nom.errors.minlength">minimum 3 lettre</div>
                                                                                    </div>
                                                                                  <br>
                                                                                  <div  class="form-group">
                                                                                    <label >Prenom</label>
                                                                                     <input name="prenom" placeholder="prenom" type="text"
                                                                                      class="form-control" id="prenom" required
                                                                                       [(ngModel)]="user.prenomUser" #prenom="ngModel" required minlength="3">
                                                                                  </div>
                                                                                  <div class="alert alert-danger" *ngIf="prenom.invalid && prenom.touched">
                                                                                    <div *ngIf="prenom.errors.required">Le prenom est obligatoire</div>
                                                                                    <div *ngIf="prenom.errors.minlength">minimum 3 lettre</div>
                                                                                </div>
                                                                                <br>
                                                                                  <div  class="form-group">
                                                                                    <label >Adresse email </label>
                                                                                     <input name="email" placeholder="email" type="email"
                                                                                      class="form-control" id="email" required
                                                                                       [(ngModel)]="user.emailUser" #email="ngModel" required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                                                                                  </div>
                                                                                  <div class="alert alert-danger" *ngIf="email.invalid && email.touched">
                                                                                    <div *ngIf="email.errors.required">L'email'est obligatoire</div>
                                                                                    <div *ngIf="email.errors.pattern">L'adresse email doit etre valide</div>
                                                                                </div>
                                                                                <br>
                                                                                <div  class="form-group">
                                                                                  <label >Téléphone </label>
                                                                                   <input name="tel" placeholder="Téléphone" type="text"
                                                                                    class="form-control" id="tel" required
                                                                                     [(ngModel)]="user.telephoneUser" #tel="ngModel" required  minlength="8" maxlength="9">
                                                                                </div>
                                                                                <div class="alert alert-danger" *ngIf="tel.invalid && tel.touched">
                                                                                  <div *ngIf="tel.errors.minlength">Le numéro doit etre valide</div>
                                                                              </div>

                                                                                
<br>
                                                                                <div class="form-group">
                                                                                  <label>Spécialité</label>
                                                                                  <br>
                                                                                  <select type="mat-select" name="specialite" placeholder="specialite" type="text"
                                                                                  class="form-control" id="specialite" required
                                                                                   [(ngModel)]="user.specialitFormateur" #specialite="ngModel" >
                                                                                  
                                                                                  <option valeur="Bureautique">Bureautique</option>
                                                                                  <option valeur="Maintenance informatique">Maintenance informatique</option>
                                                                                  <option valeur="Systéme d'information">Systéme d'information</option>
                                                                                  <option valeur="Réseaux">Réseaux</option>
                                                                                  <option valeur="Programmation">Programmation</option>
                                                                                  <option valeur="Conception">Conception</option>
                                                                                  <option valeur="Autre">Autre</option>

                                                                                </select>
                                                                                </div>
                                                        <br>
                                                                                
                                                                             
                                                                                
                                                              
                                                                          
                                                             <br>
                                                             
                                                             <br>
                                                        
                                                                                        <div>
                                                                                         
                                                                                          <button type="submit" class="btn btn-success" [disabled]="!f.valid">Enregistrer</button>                                      </div>
                                                                                      </form>

                                                                                    </div>
                                                                                   
                                                        </div>
                                                        
                                                        
                                                        
                                                        </form>
                                            </div>
                
                                            <!-- Approach -->
                                           
                
                                        </div>
                                    </div>
                
                                
                                <!-- /.container-fluid -->
                
                            </div>
                            <!-- End of Main Content -->
                
                            <!-- Footer -->
                            <footer class="sticky-footer bg-white">
                                <div class="container my-auto">
                                    <div class="copyright text-center my-auto">
                                        <span>Copyright &copy; Medianet 2022</span>
                                    </div>
                                </div>
                            </footer>
                            <!-- End of Footer -->
                
                        </div>
                        <!-- End of Content Wrapper -->
                
                    </div>
                    <!-- End of Page Wrapper -->
                
                    <!-- Scroll to Top Button-->
                    <a class="scroll-to-top rounded" href="#page-top">
                        <i class="fas fa-angle-up"></i>
                    </a>
                
                    <!-- Logout Modal-->
                   
                
                    </div>
                </div>
            </div>
        </div>
<!-- END Menu -->
        <!-- Content Wrapper -->
        
    <!-- Bootstrap core JavaScript-->
    
    <script src="../../assets/vendor/jquery.min.js"></script>
    <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../assets/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../../assets/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../../assets/js/demo/chart-area-demo.js"></script>
    <script src="../../assets/js/demo/chart-pie-demo.js"></script>
    <script src="C:/Users/dell/Desktop/startbootstrap-sb-admin-2-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="C:/Users/dell/Desktop/startbootstrap-sb-admin-2-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="C:/Users/dell/Desktop/startbootstrap-sb-admin-2-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="C:/Users/dell/Desktop/startbootstrap-sb-admin-2-gh-pages/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="C:/Users/dell/Desktop/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="C:/Users/dell/Desktop/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="C:/Users/dell/Desktop/startbootstrap-sb-admin-2-gh-pages/js/demo/datatables-demo.js"></script>
</body>

</html>