<header>
    <div >
        <!-- header top -->
        <div class="header-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4 d-none d-md-block">
                        <ul class="header-top-left mb-20">
                           
                            
                        </ul>
                    </div>
                    <div class="col-md-4 col-12 text-center">
                        <div class="site-logo mb-20">
                            <a data-toggle="tooltip" title="Expert" href="index.html"><img src="../../assets/img/site-logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 text-center text-md-right">
                        <ul class="header-top-right mb-20"  >
                        
                            <li class="cart"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  class="bi bi-bell-fill" viewBox="0 0 16 16">
                                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                              </svg><span class="total-cart">{{2}}</span></a>
                                <ul class="hover-toggle">
                                    <li>
                                      <tr >

                                        <td><br> </td>
                                        <td><svg xmlns="http://www.w3.org/2000/svg" width="16"  height="16" fill="currentColor" color="green" class="bi bi-check-circle" viewBox="0 0 16 16" >
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                                          </svg> </td>
                                        
                                      </tr>
                                      
                                      
                                      <tr><br></tr>
                                    </li>
                                   
                               
                                     
                                </ul>
                            </li>                            <li class="user"><a href="/formateur/profile"><i class="fas fa-user"></i></a> </li>
                         
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Bottom -->
        <div class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="show-mobile-menu d-block d-md-none"></div>
                        <nav class="main-menu text-center d-none d-md-block" id="mobile-menu">
                            <ul>
                                <li><a href='/formateur'>Acceuil</a>
                                  
                                    
                                </li>
                                <li class=""><a href="/cours">Cours <i class="fas fa-angle-down"></i></a>
                                    <ul class="row mega-menu">
                                        <div class="col-md-3">
                                            <li class="mega-menu-title"><a href="javascript:void(0)">Réseau et télécommunication</a>
                                                <ul class="mega-menu-inner">
                                                    <li><a href="/cours">Cisco Partie 1 </a></li>
                                                    <li><a href="/cours">Cisco Partie 2 </a></li>
                                                    <li><a href="/cours">Cisco Partie 3 </a></li>
                                                    <li><a href="/cours">Cisco Partie 4 </a></li>
                                                </ul>
                                            </li>
                                        </div>
                                        <div class="col-md-3">
                                            <li class="mega-menu-title"><a href="javascript:void(0)">Développement web </a>
                                                <ul class="mega-menu-inner">
                                                    <li><a href="/cours">laravel</a></li>
                                                    <li><a href="/cours">Php</a></li>
                                                    <li><a href="/cours">Angular </a></li>
                                                    <li><a href="/cours">Spring</a></li>
                                                </ul>
                                            </li>
                                        </div>
                                        <div class="col-md-3">
                                            <li class="mega-menu-title"><a href="javascript:void(0)">Microsoft Azure</a>
                                                <ul class="mega-menu-inner">
                                                    <li><a href="/cours">Microsoft Certified: Azure – Fundamentals Exam AZ-900.
                                                       </a></li>
                                                    <li><a href="/cours"> Microsoft Certified: Azure AI – Fundamentals Exam AI-900.
                                                       </a></li>
                                                    <li><a href="/cours"> Microsoft Certified: Azure Data – Fundamentals Exam DP-900.
                                                        </a></li>
                                                    <li><a href="/cours">Microsoft Certified: Azure Administrator – Associate Exam AZ-104.</a></li>
                                                </ul>
                                            </li>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mega-menu-banner">
                                                <a href="#"><img src="../../assets/img/menu-img/right-menu.png" alt=""></a>
                                            </div>
                                        </div>
                                    </ul>
                                </li>
                                
                                 <li><a href="#">Mes favoris<i class="fas fa-angle-down"></i></a>
                                    <ul class="submenu">
                                        <li><a href="shop.html">Cours</a></li>
                                        <li><a href="cart.html">Formations</a></li>
                                        <li><a href="checkout.html">Publications</a></li>
                                       
  
                                    </ul>
                                </li>
                                <li><a href="#">Formations <i class="fas fa-angle-down"></i></a>
  
                                    <ul class="submenu">
                                        <li><a routerLink="events" class="nav-link" routerLinkActive="active">Formations à venir </a></li>
                                        
                                        <li><a routerLink="addevnt" class="nav-link" routerLinkActive="active">Mes formations</a></li>
                                      </ul>
                                      <li><a href="/formateur/quizzes">Quiz</a></li>
                                <li><a href="/blog">Blog</a></li>
                                <li><a href="/reclam">Contactez-nous</a></li>
                                
                                      
                                  </ul>
                                  </nav>
                                  </div>
                                  </div>
                                  </div>
                                  </div>
                                  </div>

                                      
  </header>
  
  