<app-header-formateur></app-header-formateur>
<br>
<!DOCTYPE html>
<html lang="en" >

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bienvenue Admin</title>

    <!-- Custom fonts for this template-->
    <link src="../../assets/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link src="../../assets/css/sb-admin-2.min.css" rel="stylesheet">
    
</head>
<body id="page-top">

    <div id="wrapper">





<mat-card>

    <button class="btn btn-outline-success btn-lg btn-block" click="voirLesQuiz()">Voir les Quiz</button>
    <br>
    <br>

    <mat-card-header>
        
        
        <mat-card-title>Ajouter un Quiz</mat-card-title>
        <mat-card-subtitle>Veuillez ajouter les informations</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div class="container">
            <div class="container text-center">

                <h1>Ajouter un Quiz</h1>

            </div>

            <div class="row">
                <div class="col-md-4 offset-md-2">

                    <form (ngSubmit)="quizSubmit()">

                        <mat-form-field [style.width.%]="200" class="example-full-width" appearance="fill" >
                            <mat-label>Titre</mat-label>
                            <input width="500%" matInput placeholder="Ex. Programming" [(ngModel)]="quiz.title" name="title">
                        </mat-form-field>
<br>
<br>
                        <mat-form-field [style.width.%]="200" class="example-full-width" appearance="fill">
                            <mat-label>Description</mat-label>
                            <textarea matInput #description maxlength="500" rows="5" [(ngModel)]="quiz.description"
                                name="description" placeholder="Ex. Tell Something About Your Category"></textarea>
                            <mat-hint align="start"><strong>Description doit etre entre 200 et 500</strong> </mat-hint>
                            <mat-hint align="end">{{description.value.length}} / 500</mat-hint>
                        </mat-form-field>

                        <div class="col-md-4 offset-md-7">
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Nombre de questions</mat-label>
                                    <input type="number" min="1" matInput placeholder="Ex. 10"
                                        [(ngModel)]="quiz.numberOfQuestion" name="numberOfQuestion">
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Max. Note</mat-label>
                                    <input type="number" min="1" matInput placeholder="Ex. 100"
                                        [(ngModel)]="quiz.maxMarks" name="maxMarks">
                                </mat-form-field>
                            </div>


                            <div class="col-md-6">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Catégorie</mat-label>
                                    <mat-select [(ngModel)]="quiz.categoryDto.categoryId" name="categoryId">
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let category of categories" [value]="category.categoryId">
                                            {{category.title}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                </div>
                        </div>
                      
<br>
                        <mat-slide-toggle [(ngModel)]="quiz.isPublic" name="isPublic">
                            Public
                        </mat-slide-toggle>

                        <div class="container text-center">
                            <button type="submit" mat-raised-button>Enregistrer</button>
                        </div>

                    </form>

                    <br>
                </div>
            </div>

        </div>

     
    </mat-card-content>


</mat-card>

</div>




<!-- END Menu -->
        <!-- Content Wrapper -->
        
    <!-- Bootstrap core JavaScript-->
    
    <script src="../../assets/vendor/jquery.min.js"></script>
    <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../assets/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../../assets/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../../assets/js/demo/chart-area-demo.js"></script>
    <script src="../../assets/js/demo/chart-pie-demo.js"></script>

</body>

</html>