<header>
    <div >
        <!-- header top -->
        <div class="header-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4 d-none d-md-block">
                        <ul class="header-top-left mb-20">
                           
                            
                        </ul>
                    </div>
                    <div class="col-md-4 col-12 text-center">
                        <div class="site-logo mb-20">
                            <a data-toggle="tooltip" title="Expert" href="index.html"><img src="../../assets/img/site-logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 text-center text-md-right">
                        <ul class="header-top-right mb-20">
                            <li class="cart"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                              </svg><span class="total-cart">2</span></a>
                                <ul class="hover-toggle">
                                    <li>
                                        <div class="cart-img">
                                            <a href="shop-details.html"><img src="../../assets/img/mini-cart/1.jpg" alt=""></a>
                                        </div>
                                        <div class="cart-content">
                                            <span><a href="shop-detials.html">Pellentesque habitant</a></span>
                                            <div class="price">
                                                1 x <span>$100.00</span>
                                            </div>
                                            <div class="remove-edit-action">
                                                <span><a href="#"><i class="fas fa-pencil-alt"></i></a></span>
                                                <span><a href="#"><i class="fas fa-times"></i></a></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cart-img">
                                            <a href="shop-details.html"><img src="../../assets/img/mini-cart/1.jpg" alt=""></a>
                                        </div>
                                        <div class="cart-content">
                                            <span><a href="shop-detials.html">Pellentesque habitant</a></span>
                                            <div class="price">
                                                1 x <span>$100.00</span>
                                            </div>
                                            <div class="remove-edit-action">
                                                <span><a href="#"><i class="fas fa-pencil-alt"></i></a></span>
                                                <span><a href="#"><i class="fas fa-times"></i></a></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sub-total">
                                            <span>Subtotal</span>
                                            <span class="total">$205.00</span>
                                        </div>
                                    </li>
                                       <div class="mini-cart-btn">
                                            <a href="cart.html" class="border-btn">View Cart <i class="fas fa-angle-right"></i></a>
                                            <a href="cart.html" class="border-btn">View Cart <i class="fas fa-angle-right"></i></a>
                                       </div>
                                </ul>
                            </li>                            <li class="user"><a href="/profile"><i class="fas fa-user"></i></a> </li>
                            <li class="cart"><a href="#"><i class="fas fa-shopping-cart"></i><span class="total-cart">2</span></a>
                                <ul class="hover-toggle">
                                    <li>
                                        <div class="cart-img">
                                            <a href="shop-details.html"><img src="../../assets/img/mini-cart/1.jpg" alt=""></a>
                                        </div>
                                        <div class="cart-content">
                                            <span><a href="shop-detials.html">Pellentesque habitant</a></span>
                                            <div class="price">
                                                1 x <span>$100.00</span>
                                            </div>
                                            <div class="remove-edit-action">
                                                <span><a href="#"><i class="fas fa-pencil-alt"></i></a></span>
                                                <span><a href="#"><i class="fas fa-times"></i></a></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cart-img">
                                            <a href="shop-details.html"><img src="../../assets/img/mini-cart/1.jpg" alt=""></a>
                                        </div>
                                        <div class="cart-content">
                                            <span><a href="shop-detials.html">Pellentesque habitant</a></span>
                                            <div class="price">
                                                1 x <span>$100.00</span>
                                            </div>
                                            <div class="remove-edit-action">
                                                <span><a href="#"><i class="fas fa-pencil-alt"></i></a></span>
                                                <span><a href="#"><i class="fas fa-times"></i></a></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sub-total">
                                            <span>Subtotal</span>
                                            <span class="total">$205.00</span>
                                        </div>
                                    </li>
                                       <div class="mini-cart-btn">
                                            <a href="cart.html" class="border-btn">View Cart <i class="fas fa-angle-right"></i></a>
                                            <a href="cart.html" class="border-btn">View Cart <i class="fas fa-angle-right"></i></a>
                                       </div>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Bottom -->
        <div class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="show-mobile-menu d-block d-md-none"></div>
                        <nav class="main-menu text-center d-none d-md-block" id="mobile-menu">
                            <ul>
                                <li><a href='/apprenant'>Acceuil</a>
                                  
                                    
                                </li>
                                <li class=""><a href="shop.html">Cours <i class="fas fa-angle-down"></i></a>
                                    <ul class="row mega-menu">
                                        <div class="col-md-3">
                                            <li class="mega-menu-title"><a href="javascript:void(0)">Réseau et télécommunication</a>
                                                <ul class="mega-menu-inner">
                                                    <li><a href="#">Cisco Partie 1 </a></li>
                                                    <li><a href="#">Cisco Partie 2 </a></li>
                                                    <li><a href="#">Cisco Partie 3 </a></li>
                                                    <li><a href="#">Cisco Partie 4 </a></li>
                                                </ul>
                                            </li>
                                        </div>
                                        <div class="col-md-3">
                                            <li class="mega-menu-title"><a href="javascript:void(0)">Développement web </a>
                                                <ul class="mega-menu-inner">
                                                    <li><a href="#">laravel</a></li>
                                                    <li><a href="#">Php</a></li>
                                                    <li><a href="#">Angular </a></li>
                                                    <li><a href="#">Spring</a></li>
                                                </ul>
                                            </li>
                                        </div>
                                        <div class="col-md-3">
                                            <li class="mega-menu-title"><a href="javascript:void(0)">Microsoft Azure</a>
                                                <ul class="mega-menu-inner">
                                                    <li><a href="#">Microsoft Certified: Azure – Fundamentals Exam AZ-900.
                                                       </a></li>
                                                    <li><a href="#"> Microsoft Certified: Azure AI – Fundamentals Exam AI-900.
                                                       </a></li>
                                                    <li><a href="#"> Microsoft Certified: Azure Data – Fundamentals Exam DP-900.
                                                        </a></li>
                                                    <li><a href="#">Microsoft Certified: Azure Administrator – Associate Exam AZ-104.</a></li>
                                                </ul>
                                            </li>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mega-menu-banner">
                                                <a href="#"><img src="../../assets/img/menu-img/right-menu.png" alt=""></a>
                                            </div>
                                        </div>
                                    </ul>
                                </li>
                                
                                 <li><a href="#">Mes favoris<i class="fas fa-angle-down"></i></a>
                                    <ul class="submenu">
                                        <li><a href="shop.html">Cours</a></li>
                                        <li><a href="cart.html">Formations</a></li>
                                        <li><a href="checkout.html">Publications</a></li>
                                       
  
                                    </ul>
                                </li>
                                <li><a href="#">Formations <i class="fas fa-angle-down"></i></a>
  
                                    <ul class="submenu">
                                        <li><a routerLink="events" class="nav-link" routerLinkActive="active">Formations à venir </a></li>
                                        
                                        <li><a routerLink="addevnt" class="nav-link" routerLinkActive="active">Mes formations</a></li>
                                      </ul>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact.html">Contactez-nous</a></li>
                                
                                      
                                  </ul>
                                  </nav>
                                  </div>
                                  </div>
                                  </div>
                                  </div>
                                  </div>

                                      
  </header>
  
  
   