<!-- Searching by code -->
<app-header-formateur></app-header-formateur>
<br>

<div class="container-xxl">
    <div class="row">
        <div class="col-12">
           
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade active show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6"  *ngFor="let quiz of quizzes">
                            <a class="member-item" >
                                <div >
                                    <div class="row">
                                        <div class="col-sm-12">
                                            
                                          
<mat-card >

    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{quiz.title}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <p>
            {{quiz.description}}
        </p>
    </mat-card-content>

    <mat-card-actions>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                <div class="col-md-7">
                    <button mat-raised-button
                        [routerLink]="'/formateur/quiz-questions/'+quiz.quizId+'/'+quiz.title">Question</button>
                    <button mat-button color="primary"
                        [routerLink]="'/formateur/quiz-result-sheet/'+quiz.quizId+'/'+quiz.title">Result</button>
                    <button mat-button color="primary">Marks: {{quiz.maxMarks}}</button>
                    <button mat-button color="primary">Questions: {{quiz.numberOfQuestion}}</button>
                    <br>

                </div>


                <div class="col-md-5 text-center">
<br>
                    <mat-slide-toggle class="p-2" [(ngModel)]="quiz.isEnable"
                        (change)="updateQuizVisibility(quiz.quizId)">Enable</mat-slide-toggle>

                    <mat-slide-toggle [(ngModel)]="quiz.isPublic" (change)="updateQuizType(quiz.quizId)">
                        Public
                    </mat-slide-toggle>

                    <button *ngIf="!quiz.date" mat-button color="primary" matTooltip="Set Quiz Time & Date"
                        (click)="setQuizSchedule(quiz.quizId)">
                        <mat-icon>more_time</mat-icon>
                    </button>

                    <button *ngIf="quiz.date" mat-button color="primary" matTooltip="Quiz Time & Date"
                        (click)="showQuizSchedule(quiz.quizId)">
                        <mat-icon>alarm_on</mat-icon>
                    </button>

                    <button mat-button color="primary" matTooltip='Click To Copy Quiz Code : {{quiz.code}}'
                        [cdkCopyToClipboard]="quiz.code" (click)="codeCopyNotification()">
                        <mat-icon>info</mat-icon>
                    </button>

                    <button mat-button color="primary" matTooltip="Delete Quiz" (click)="deleteQuiz(quiz.quizId)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>

            </div></div>

        </div>
    </mat-card-actions>
</mat-card>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        
                        
                        
                      
                      
                    </div>
                </div>
             
            </div>
        </div>
      </div>
    <br>

</div>
